<!DOCTYPE html>
<html>
  <head>
    <title>Skype</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag(source='', options={}) %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/9ee3838b50.js"></script>
    <script type="text/javascript">
      <% if current_user %>
      window.currentUser = <%= (render :template => "/api/sessions/create.json", locals: {user: current_user}).html_safe %>

      var opts = {
        host: 'peerjs-server-celeste-comet.herokuapp.com',
        secure: true,
        port: 443
      };

      

      window.peer = new Peer(<%= current_user.id %>, opts); 
      <% end %>
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
